.carousel {
  margin-block: auto;
  overflow: hidden;
  max-width: 100%;
  padding-block: 2rem;
  will-change: scroll-position;
  background-color: var(--carousel-bgc);

  > a {
    min-width: 400px;
  }
}
