.heading {
  font-size: 38px;
  margin-bottom: 0.5rem;
}

.divider {
  border: 1px solid var(--header-border);
}

.headerWrapper {
  width: 100%;
  background-color: var(--header-bgc);
  position: sticky;
  top: 0;

  > div {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
