.navButton {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  transition: background-color 100ms;

  &:hover {
    background-color: var(--navbar-hover);
  }

  @media (max-width: 700px) {
    padding: 0.25rem 0.5rem;
  }
}

.active {
  composes: navButton;
  background-color: var(--navbar-active);
}

.navBar {
  gap: 1rem;

  @media (max-width: 600px) {
    font-size: 16px;
    gap: 0.5rem;
  }
}
